#background{
    background-image: url(https://cdn.wallpapersafari.com/87/83/aINmBZ.jpg);
    /*width: auto;*/
    height: 455px;
    /*overflow: hidden;*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    background-size: cover; /* Adjust how the image covers the container */
    background-position: center;
}

#searchbutton{
    padding: 32px;
}
#mmbusform{
    top: 200px;
    width: 88%;
}
#citem{
    height: 480px;
}
#cimg{
    height: 100%;
    object-fit: cover;
}