 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.body {
    display: flex;
    justify-content: center;
    min-height: 100vh;
}

.container1 {
    position: absolute;
    margin: auto;
    margin-top: 50px;
    padding: 10px;
    width: 70vw;
    height: 80vh;
    background: #fff;
    border-radius: 15px;
    box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.3),0 6px 20px 0 rgba(0, 0, 0, 0.3);
    overflow: hidden;
}

.container1::before {
    content: "";
    position: absolute;
    top: 0;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(-45deg, #4BD5FC , #115A6F);
    z-index: 6;
    transform: translateX(100%);
    transition: 1s ease-in-out;
}

.signin-signup1 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 5;
}

.form1 {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 40%;
    min-width: 238px;
    padding: 0 10px;
}

.form1.sign-in-form {
    opacity: 1;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

.form1.sign-up-form {
    opacity: 0;
    transition: 0.5s ease-in-out;
    transition-delay: 1s;
}

.title {
    font-size: 35px;
    color: #4BD5FC;
    margin-bottom: 10px;
}

.input-field {
    width: 100%;
    height: 40px;
    background: #f0f0f0;
    margin: 5px 0;
    border: 2px solid #4BD5FC;
    border-radius: 50px;
    display: flex;
    align-items: center;
}

.icon {
    flex: 1;
    text-align: center;
    color: #666;
    font-size: 18px;
}

.input-field input {
    flex: 5;
    background: none;
    border: none;
    outline: none;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
    color: #444;
}

.btn1 {
    width: 150px;
    height: 50px;
    border: none;
    border-radius: 50px;
    background: #4BD5FC;
    color: #fff;
    font-weight: 600;
    margin: 10px 0;
    text-transform: uppercase;
    cursor: pointer;
}

.btn1:hover {
    background: #4B76FC;
}

.panels-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 35%;
    min-width: 238px;
    padding: 0 10px;
    text-align: center;
    z-index: 6;
}
.left-panel{
    pointer-events: none;
}
.content {
    color: #fff;
    transition: 1.1s ease-in-out;
    transition-delay: 0.5s;
}

.h3 {
    font-size: 22px;
    font-weight: 550;
}

.p{
    font-size: 15px;
    padding: 7px 0;
}

.image {
    width: 100%;
    transition: 1.1s ease-in-out;
    transition-delay: 0.4s;
}

.left-panel .image,
.left-panel .content {
    transform: translateX(-200%);
}

.right-panel .image,
.right-panel .content {
    transform: translateX(0);
}

.account-text {
    display: none;
}

.container1.sign-up-mode::before {
    transform: translateX(0);
}

.container1.sign-up-mode .right-panel .image,
.container1.sign-up-mode .right-panel .content {
    transform: translateX(200%);
}

.container1.sign-up-mode .left-panel .image,
.container1.sign-up-mode .left-panel .content {
    transform: translateX(0);
}

.container1.sign-up-mode .form1.sign-in-form {
    opacity: 0;
}

.container1.sign-up-mode .form1.sign-up-form {
    opacity: 1;
}

.container1.sign-up-mode .left-panel{
    pointer-events: all;
}

.container1.sign-up-mode .right-panel {
    pointer-events: none;
}

@media (max-width:779) {
    .container1 {
        width: 100vw;
        height: 100vh;
    }
}

@media(max-width:635px) {
    .container1::before {
        display: none;
    }
    form {
        width: 80%;
    }
    form.sign-up-form {
        display: none;
    }
    .container1.sign-up-mode2 form.sign-up-form {
        display: flex;
        opacity: 1;
    }
    .container1.sign-up-mode2 form.sign-in-form {
        display: none;
    }
    .panels-container {
        display: none;
    }
    .account-text {
        display: initial;
        margin-top: 30px;
    }
}

@media (max-width:320px) {
    form {
        width: 90%;
    }
}